<form action="/random/results">
<div>
<label for= "user_number_min">Minimum</label>
<input id= "user_number_min" type="text" placeholder="E.g. 1.5" name="user_number_min">
</div>
<div>
<label for= "user_number_max">Maximum</label>
<input id= "user_number_max" type="text" placeholder="E.g. 4.5" name= "user_number_max">
</div>
<button>Pick random number</button>
</form>
